.navigation {
	position: relative;
	background: none;
	border: none;
	font-size: 18px;
	color: white;
	background-color: rgb(75, 75, 75);
	padding: 10px 20px;
	cursor: pointer;
	margin-left: 25px;
	&::before {
		position: absolute;
		content: '';
		top: 50%;
		height: 30px;
		transform: translateY(-50%);
		left: -25px;
		width: 1px;
		background-color: rgb(179, 179, 179);
	}
}

.button {
	background: none;
	border: none;
	font-size: 18px;
	color: rgb(75, 75, 75);
	border: 2px solid rgb(75, 75, 75);
	padding: 10px 20px;
	cursor: pointer;
}
