.item {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 50px;
	padding: 10px 20px;
}

.item:nth-last-of-type(1) {
	&::after {
		display: none;
	}
}

.item:nth-child(odd) {
	background-color: rgba(179, 179, 179, 0.4);
}

.item:nth-child(even) {
	border: 2px solid rgba(179, 179, 179, 0.4);
}

.titleWrapper {
	display: flex;
	flex-direction: row;
}

.descriptionWrapper {
	margin-bottom: 20px;
	p {
		overflow-wrap: break-word;
	}
}

.options {
	display: flex;
	justify-content: flex-start;
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
	align-items: center;
	&::before {
		content: '';
		position: absolute;
		top: -20px;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: rgba(179, 179, 179, 0.5);
	}
	button {
		border: none;
		background: none;
		padding: 0 10px;
		width: 90px;
		height: 30px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
		border: 1px solid rgb(179, 179, 179);
		cursor: pointer;
		&:nth-of-type(2) {
			margin-left: 20px;
		}
	}

	.id {
		font-size: 12px;
		margin-left: 420px;
	}
}

.titleWrapper {
	margin: 10px 0;
	.title {
		font-weight: 700;
		margin-bottom: 10px;
		.category {
			font-weight: 500;
		}
		.date {
			font-weight: 500;
			padding: 5px 10px;
			margin-left: 10px;
			border: 1px solid rgb(179, 179, 179);
		}
	}
}
